@import '/vendor/filament/filament/resources/css/theme.css';

@config 'tailwind.config.js';

.fi-main {
    padding: 0 !important;
}

.fi-header {
    display: none;
    padding: 0 !important;
}

.fi-main section:first-child{
    padding: 0;
    display: block !important;
}

.gap-y-8 {
    row-gap: 0rem;
}

.prose{
    color: black !important;
}